<div class="col-lg-12">
<p>
	<b><%= @post.title %></b>
</p>
<p>
	
	<b><%= @post.category%></b>
</p>
<p>
	<b><%= @post.body %></b>
</p>
</div>
<button type="button"> <%= link_to '戻る', root_path %></button>
<button type="button"><%= link_to '編集', "/my_blogs/#{@post.id}/edit" %></button>
<button type="button"><%= link_to '削除', "/my_blogs/#{@post.id}" ,method: :delete %></button>

